<h1 class= "ui center aligned header" >Billboard List</h1>
<div class="ui section divider"></div>
<ul class="ui list">
<% @boards.each do |board| %>
  <li class="item"><%= link_to board.name , board_path(board) %></li>
<% end %>
</ul>
<div class="ui horizontal divider"> <%= link_to 'Add Billboard', new_board_path %> </div>