<div class="ui secondary menu">
  <div class="item">
    <button class="small ui button"><%= link_to 'Billboard Index', root_path %></button>
  </div>
  <div class="item">
    <button class="small ui button"><%= link_to 'Artist Index', artists_path %></button>
  </div>
</div>
<div class="ui clearing divider"></div>